@import url(//fonts.googleapis.com/css?family=Fira+Sans);

body {
  margin: 0;
  font-family: "Fira sans", sans-serif;
  background: white;
  color: #222222;
  font-size: 14px;
  height: 100%;
}

body a {
  color: #00bcd4;
  text-decoration: none;
}

@keyframes clear {
  to {
    opacity: 1;
    transform: none;
  }
}
